/*ESTRUTURA DO SITE*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans Condensed', sans-serif;
	background: #fff url(../img/header2.jpg) repeat-x;
	background-size:700px 300px;
}

#container{
	width: 960px;
	margin: 0 auto;
}
#Topo{
	height: 200px;
	border: 1px solid blue;
}

.logo{
	width: 300px;
	height: 300px;
	background: url(../img/logobranco1.png) no-repeat;
	text-indent: -3000px; /*escondendo do usuario*/
}


/*Barra de navegaão*/
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
li a {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Configurando Layout*/
#conteudo{
	margin-top: 100px;
	background: #f5f5f5;
}
#Primario{
	width: 720px;
	float: right;
	margin: 0 0 30px 15px;
	background: blue;
}
#Lateral{
	width: 210px;
	margin: 0 0 30px 0px;
	float: right;
	
}

/*CAIXA*/
.caixa{
	margin: 10px 0; /*formatação espaçamento caixa*/
	background: #fff;
}

h2{
	font-family: 1em;
	background: #FFF;
	color: #81142b;
	padding: 5px;
}

.caixa-conteudo{
	background: #ffff;
	padding: 5px;
	margin-top: 5px;
}

.caixa-conteudo2{
	background: #ffff;
	padding: 5px;
	margin-top: 5px;
}

/*FORMATAÇÃO MENUS LATERAIS*/

ul a{

	font-size: 1em;
 	padding: 3px;
 	display: block;
 	line-height: 30px;
 	color: #000;
 	text-decoration: none;
 	border-bottom: 1px solid #fff

}

ul a:hover{
	background: #f9f9f9;
 	padding-left: 5px;
 	color: #a1a1a1;
}






/*RODAPE*/
#container-rodape{
	background: #81142b;
	padding: 20px;
}

#rodape{
	width: 750px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

#footer-brasil {
   background: none repeat scroll 0% 0% #81140c;
   padding: 1em 0px;
   max-width: 100%;
}

