/*ESTRUTURA DO SITE*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans Condensed', sans-serif;
	background: #fff url(../img/fundo.png) repeat-x;
	background-size:700px 300px;
}

#container{
	width: 960px;
	margin: 0 auto;
}
#Topo{
	margin-top: 20px;
	height: 200px;
	border: 1px solid blue;
}

.logo{
	width: 300px;
	height: 300px;
	background: url(../img/logobranco1.png) no-repeat;
	text-indent: -3000px; /*escondendo do usuario*/
}


/*Barra de navegaão*/
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
li a {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*Configurando Layout*/
#conteudo{
	margin-top: 100px;
	background: #f5f5f5;
}
#Primario{
	width: 720px;
	height: 100px;
	float: right;
	margin: 0 0 30px 15px;
	
}
#Lateral{
	width: 210px;
	margin: 0 0 30px 0px;
	float: right;
	
}

/*SECTION*/

#section h1, h2, h3{
	color: #81142b;
} 

/*CAIXA*/
.caixa{
	margin: 10px 0; /*formatação espaçamento caixa*/
	background: #fff;
	color: #81142b;
	font-family: 1em;
	
}



.caixa-conteudo{
	background: #ffff;
	padding: 5px;
	margin-top: 5px;
}

.caixa-conteudo2{
	background: #ffff;
	padding: 5px;
	margin-top: 5px;
}

/*FORMATAÇÃO MENUS LATERAIS*/

ul a{

	font-size: 1em;
 	padding: 3px;
 	display: block;
 	line-height: 30px;
 	color: #000;
 	text-decoration: none;
 	border-bottom: 1px solid #fff

}

ul a:hover{
	background: #f9f9f9;
 	padding-left: 5px;
 	color: #a1a1a1;
}

#button{
	display:block;
    width:80px;
    height:26px;
    font-weight:bold;
    color:#81142b;
    border: none;
    margin-top: 10px;
}






/*RODAPE*/
#container-rodape{
	background: #81142b;
	padding: 20px;
}

#rodape{
	width: 750px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

#footer-brasil {
   background: none repeat scroll 0% 0% #81140c;
   padding: 1em 0px;
   max-width: 100%;
}


/************************PAGINA fale_conosco*****************************/

#entre_contato h2{
	margin-top: 0px;
	margin-left: 200px;
	color: #81140c;
	font-family: 1em;
	

}
.formContato {  
     width: 100%;  
   }  
   .formContato input {  
     width: 90%;  
     margin-left: 10px;  
     margin-right: 10px;  
   }  
   .formContato textarea {  
     width: 90%;  
     margin-left: 10px;  
     margin-right: 10px;  
   }  
   .botaoContato {  
     margin-left: 10px;  
     margin-right: 10px;  
     margin-top: 1px;  
   }  
   .pgContato input {  
     padding-left: 20px;  
     color: #292929;  
     font-size: 18px;  
     background-color: #E9E9E9;  
     border: 1px solid #E9E9E9;  
     -moz-border-radius: 5px;  
     -webkit-border-radius: 5px;  
     border-radius: 5px;  
     height: 40px;  
     margin-bottom: 20px;  
     border-bottom: 1px solid #ccc;  
     border-left: 1px solid #ccc;  
   }  
   .pgContato textarea {  
     padding-left: 20px;  
     color: #292929;  
     font-size: 18px;  
     background-color: #E9E9E9;  
     border: 1px solid #E9E9E9;  
     -moz-border-radius: 5px;  
     -webkit-border-radius: 5px;  
     border-radius: 5px;  
     height: 200px;  
     margin-bottom: 20px;  
     border-bottom: 1px solid #ccc;  
     border-left: 1px solid #ccc;  
   }  
   .botaoContato {  
     border-radius: 4px;  
     color: #fff;  
     padding: 2px 40px;  
     height: 40px;  
     margin-top: 18px;  
     opacity: 0.9;  
     margin-bottom: 20px;  
     cursor: pointer;  
     background: #81140c;  
     display: inline-block;  
     border: none;  
     border-bottom: 1px solid #500707;  
     border-right: 1px solid #500707;  
   }  
   .botaoContato:hover {  
     opacity: 1.0;  
     transition: 1s;  
   }  